<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>


  <!-- compiled css output -->
  <link href="css/ionic.app.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- Script adds - inklusiv ng-cordova.. -->
  <script src="lib/ngCordova/dist/ng-cordova.js"></script>
 <!-- <script src="cordova.js"></script>-->
  <script src="http://maps.google.com/maps/api/js?key=AIzaSyB-pei2onejgYXaVYbAomTLSTaf_QJ4l1M&sensor=true"></script>
  <!--Ovenfor står vores google api-key, som skal bruges før map virker..-->

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>


<body ng-app="starter" ng-controller="MapCtrl">

<!--ion-pane er en "container" i ionic-->
<ion-pane>

  <!--Top-barens opsætning-->
  <ion-header-bar class="bar-positive">
    <h1 class="title">Map-demo</h1>
    <div class="buttons">
      <button class="button button-icon ion-log-in" ng-click="openModal()"></button>
    </div>
  </ion-header-bar>

  <!--Der er lavet et directive, som sættes ind her som "main view"-->
  <ion-nav-view></ion-nav-view>

</ion-pane>

<!--Modal Start-->
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
      <h1 class="title">Sign-in</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">User Name</span>
          <input ng-model="user.userName" type="text"> </label>
        <label class="item item-input">
          <span class="input-label">Distance (km) to find friends</span>
          <input ng-model="user.distance" type="number">
        </label>
        <button class="button button-full button-positive" ng-click="registerUser(user)">Sign-in With
          Location
        </button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
<!--Modal End-->

</body>
</html>
